.other-month-day{
  text-align: center;
  background-color: #f8f8ff;
  cursor: default !important;
}
.other-month-weekend{
  text-align: center;
  background-color: #dfdfff;
  cursor: default !important;
}
